.menu {
    position: fixed;
    // z-index: 5; 
    top: 0;
    width: 345px;
    height: 100vh;
    background: $main-color;
    visibility: hidden;
    opacity: 0;
    left: -100%;
    transition: all 2s;
    &.active {
        z-index: 2;
        visibility: visible;
        left: 0;
        opacity: 1;
        transition: all 0.6s;
    }
    &__cross {
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
    }
    &__list {
        margin-top: 140px;
        margin-left: 75px;
        list-style-type: none;
        font-size: 24px;
        line-height: 36px;
        a {
            text-decoration: none;
        }
    }
    &__item {
        margin-bottom: 15px;
        position: relative;
        color: white;
        &:before {
            position: absolute;
            content: '';
            width: 15px;
            height: 15px;
            border: 1px solid black;
            border-radius: 100%;
            top: 50%;
            transform: translateY(-50%);
            left: -35px;
            transition: all 0.5s;
        }
        &:hover {
            &:before {
                background: white;
            }
        }
    }
    &__socials {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        width: 90px;
    
    }
    &__social {
        transform: rotate(90deg);
        &:nth-child(1) {
            &:hover svg {
                border-radius: 100%;
                background: white;
            }
        }
        &:nth-child(2) {
            transform: rotate(0deg);
            &:hover svg {
                border-radius: 100%;
                background: rgb(79, 79, 250);
            }
        }
        &:nth-child(3) {
            transform: rotate(0deg);
            &:hover svg {
                fill: rgb(122, 99, 253);
            }
        }
    }
    &__overlay {
        position: fixed;
        z-index: 1;
        background: white;
        width: 100%;
        height: 100vh;
        top: 0;
        visibility: hidden;
        opacity: 0;
        transition: all .6s;
        &.active {
            visibility: visible;
            opacity: 0.5;
        }
    }

}