.promo {
    height: 100vh;
    background-color: #4f7ac8;
    background: url('../img/main_bg3.jpg') no-repeat 50%/cover;
    padding-top: 206px;
    transition: 5000ms;
    &__title {
        margin-top: 10px; 
        font-size: 48px;
        line-height: 60px;
        width: 532px;
    }
    &__subtitle {
        position: relative;
        z-index: 0;
        padding-left: 10px;
        @include before_circle;
    }
    &__btns {
        margin-top: 25px;
    }
    &__link {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
        padding: 12px 25px;
        color: black;
        &:last-child {
            background: none;
            // box-shadow: none;
        }
        &:hover {
            color: black;
            text-decoration: none;
        }
        &:active {
            background: $main-color;
        }
    }

};