.sidepanel {
    opacity: 1;
    position: fixed;
    display: flex;
    z-index: 0;
    justify-content: space-between;
    align-items: center;
    width: 340px;
    transform: translate(-50px, 400px) rotate(-90deg);
    transition: all 1.5s;
    background: none;
    // &.active {
    //     opacity: 1;
    // }
    &__divider {
        width: 70px;
        height: 2px;
        background: black;
    }
    &__socials {
        display: flex;
        justify-content: space-between;
        width: 90px;
    }
    &__social {
        transform: rotate(90deg);
        &:nth-child(1) {
            &:hover svg {
                border-radius: 100%;
                background: white;
            }
        }
        &:nth-child(2) {
            transform: rotate(0deg);
            &:hover svg {
                border-radius: 100%;
                background: rgb(79, 79, 250);
            }
        }
        &:nth-child(3) {
            transform: rotate(0deg);
            &:hover svg {
                fill: rgb(136, 168, 255);
            }
        }
    }
    
}