.skills {
    padding-top: 120px;
    &__header {
        margin-top: 6px;
        text-align: center;
        position: relative;
        @include before_circle;
        &:before {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subheader {
        margin-top: 6px;
        text-align: center;
        font-size: 36px;
        line-height: 60px;
    }
    .divider {
        margin: 25px auto 0;
    }
    &__wrapper {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, 270px);
        column-gap: 13px;
        row-gap: 13px;
    }
    &__item {
        border: 1px solid black;
        padding: 30px;
    }
    .skill {
        &__img {
            height: 65px;
            display: flex;
            align-items: stretch;
        }
        &__title {
            margin-top: 20px;
        }
        &__text {
            margin-top: 15px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
    }

}